body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: "Playwrite DE SAS", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0;
}

button {
    background-color: #000000;
    color: white;
    font-family: "Playwrite DE SAS", cursive;
}

.passo {
    display: none;

}


.passoo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}